/* Import fonts from Google fonts */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,600,700,900,300italic,italic,500italic&display=swap");

/* Add &display=swap to google fonts */

@import url("https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,500italic,600,700&display=swap");

/* Connect Fonts use local files */

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue.woff2") format("woff2"), 
		url("../fonts/HelveticaNeue.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
  url('../fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* --------------------- */

body {
	font-size: 18px;
	background: url("../img/task_1/main_bg.avif") 50% / cover no-repeat fixed;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	line-height: 1.2;
	color: #222;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.navigation {
	margin: 20px auto;
	width: 65px;
}

.header-block,
.footer-block,
.background,
.background-list {
	box-shadow: 5px 4px 10px 3px #6495ed, inset 4px 4px 10px 2px  #ff8c00;
	border-radius: 30px;
	padding: 20px 10px;
	margin: 0px auto 30px;
}

.background-list {
	padding: 20px;
}

.page__title,
.title,
.title-2,
.background-list__title,
.list-background__title,
.service__title,
.contacts__title,
.impact__title {
	font-family: "Proxima Nova Lt", sans-serif;
	text-align: center;
	color: #9a4c4c;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 42px;
	text-shadow: 4px 4px 6px #9e0202;
	box-shadow: 5px 4px 10px 2px #ff8c00, inset 4px 4px 10px 2px #6495ed;
	border-radius: 30px;
	padding: 20px;
	margin: 30px;
}

.title,
.title-2,
.background-list__title,
.list-background__title ,
.service__title,
.contacts__title,
.impact__title {
	font-size: 32px;
}

.content {
	vertical-align: top;
	text-align: center;
}

.box {
	vertical-align: top;
	display: inline-block;
	min-width: 300px;
	min-height: 300px;
	margin: 20px;
	border-radius: 20px;
	box-shadow: 4px 4px 10px 3px #444, inset 4px 4px 10px 3px #fff;
}

.box-2 {
	vertical-align: top;
	display: inline-block;
	min-width: 900px;
	min-height: 300px;
	margin: 20px 100px;
	box-shadow: 4px 4px 10px 3px #6495ed, inset 4px 4px 10px 3px #fff;
	border-radius: 20px;
}

.subtitle {
	font-size: 26px;
	color: #444;
	font-weight: 500;
	text-align: center;
	text-shadow: 3px 3px 5px #444;
}

.text,
.text-2 {
	text-align: center;
	margin: 15px;
	color: #fff;
	border-radius: 20px;
	font-size: 21px;
	line-height: 31px;
	padding: 10px;
	border: 4px solid #ffb0e5;
	text-shadow: 3px 3px 5px #000;
	background-color: #999;
	box-shadow: inset 3px 3px 7px 3px #fff;
}

.text-2 {
	background-color: #d3d3d366;
}

.menu {
	display: block;
}

.menu__list {
	text-align: center;
}

.menu__item {
	display: inline-block;
	font-size: 20px;
	font-family: 'Proxima Nova Lt';
	font-weight: 600;
	text-transform: uppercase;
	margin: 10px;
	padding: 5px 10px;
}

.menu__link {
	text-shadow: 3px 3px 5px #49a249;
	box-shadow: 5px 4px 10px 2px #ff8c00, inset 4px 4px 10px 2px #6495ed;
	padding: 10px 18px 7px;
	border-radius: 20px;
	color:#228b22;
}

.menu__link:hover {
	color:#6495ed;
	text-decoration: underline;
}

.background__content-1-box-1 {
	background-color: #555;
}

.background__content-1-box-2 {
	background-color: #00bfff;
}

.background__content-1-box-3 {
	background-color: #8a2be2;
}

.background__content-2-box-1 {
	background: url("../img/icons/target_icon.png") 0 0 / 26px space;
}

.background__content-2-box-2 {
	background: linear-gradient(180deg, #020024 0%, #ffb0e5 50%, #00d4ff 100%);
}

.background__content-2-box-3 {
	background: radial-gradient(circle, #020024 0%, #ffb0e5 50%, #00d4ff 100%);
}

.background__content-3-box-1 {
  background: url("../img/icons/list_icon_1.png") 0/20px #8a2be2;
}

.background__content-3-box-2 {
	background: url("../img/icons/list_icon_1.png") no-repeat #8a2be2;
}

.background__content-3-box-3 {
  background: url("../img/icons/list_icon_1.png") 0 12% / 20px repeat-x  
	#8a2be2;
}

.background__content-3-box-4 {
	background: url("../img/icons/list_icon_1.png") 0 11% / 30px repeat-y 
	#8a2be2;
}

.background__content-3-box-5 {
	background: url("../img/icons/list_icon_1.png") 0 10% / 20px space 
	#8a2be2;
}

.background__content-3-box-6 {
	background: url("../img/icons/list_icon_1.png") 0 10% / 25px round 
	#8a2be2;
}

.background__content-4-box-1 {
	background: url('../img/task_1/nature_1.avif') 0 0 / 200px no-repeat;
}

.background__content-4-box-2 {
	background: url('../img/task_1/nature_2.jpg') 50% / 300px 150px no-repeat;
}

.background__content-4-box-3 {
	background: url('../img/task_1/nature_3.jpg') 0 50% / 200px no-repeat;
}

.background__content-4-box-4 {
	background: url('../img/task_1/nature_4.webp') 100% 100% / 200px no-repeat;
}

.background__content-4-box-5 {
	background: url('../img/task_1/nature_5.jpg') 20% 80% / 200px no-repeat;
}

.background__content-5-box-1 {
	background: url('../img/task_1/nature_1.avif') 0 0 / 900px 300px no-repeat 
	scroll;
}

.background__content-5-box-2 {
	background: url('../img/task_1/nature_2.jpg') 0 0 / cover no-repeat fixed;
}

.background__content-5-box-3 {
	background: url('../img/task_1/nature_3.jpg') 0 0 / cover no-repeat local;
	overflow: auto;
}

.box-small {
	height: 100px;
}

.background__content-5-box-3 .text-2 {
	font-size: 16px;
	line-height: 22px;
	background-color: transparent;
}

.background__content-6-box-1 {
	background: url('../img/task_1/nature_900.jpg') 0 0 / auto auto no-repeat;
}

.background__content-6-box-2 {
	background: url('../img/task_1/nature_1.jpg') 0 0 / 100% auto no-repeat;
}

.background__content-6-box-3 {
	background: url('../img/task_1/nature_2.jpg') 0 0 / auto 100% no-repeat;
}

.background__content-6-box-4 {
	background: url('../img/task_1/nature_3.jpg') 0 0 / 100% 100% no-repeat;
}

.background__content-6-box-5 {
	background: url('../img/task_1/nature_2.jpg') 100% 0 / contain no-repeat;
}

.background__content-6-box-6 {
	background: url('../img/task_1/nature_3.jpg') 0 0 / cover no-repeat;
}

.background__content-6-box-7 {
	background: url('../img/task_1/nature_1.avif') 50% / 500px 300px no-repeat;
}

.background__content-7-box-1 {
	background: url("../img/task_1/small_img/small_nature_1.jpg") 
	rgba(137, 43,226, 0.4) 50% no-repeat;
}

.background__content-7-box-2 {
	background: url("../img/task_1/small_img/small_nature_2.jpg") 0% 50% no-repeat, url("../img/task_1/small_img/small_nature_3.webp") 100% 50% no-repeat;
}

.background__content-7-box-3 {
	background: url("../img/task_1/small_img/small_nature_1.jpg") 0% 50% no-repeat, url("../img/task_1/small_img/small_nature_2.jpg") 50% no-repeat,
	url("../img/task_1/small_img/small_nature_3.webp") 100% 50% no-repeat
	rgba(256, 26, 101, 0.4);
}

.background__content-7-box-4 {
	background: url("../img/task_1/small_img/small_nature_1.jpg") 0% 100% / 16% no-repeAT, url("../img/task_1/small_img/small_nature_2.jpg") 28.5% / 30% auto no-repeat, url("../img/task_1/small_img/small_nature_3.webp") 0% 20% / 20% auto no-repeat, url("../img/task_1/small_img/small_nature_4.jpg") 100% 100% / 50% no-repeat rgba(256, 26, 101, 0.4);
}

.list-background__wrapper {
	text-align: center;
}

.list,
.list-2 {
	display: inline-block;
}

.list__item {
	background: url("../img/icons/list_icon.png") 99% 50% / 35px no-repeat;
	min-height: 35px;
	padding: 20px 50px 20px 20px;
	font-size: 20px;
	color: #8a2be2;
	font-weight: 500;
	text-shadow: 3px 3px 6px #222;
}

.list-2__item {
	background: url("../img/icons/list_icon_1.png") 99% 50% / 35px no-repeat,
	url("../img/icons/list_icon.png") 0% 50% / 35px no-repeat,
	url("../img/icons/target_icon.png") 35px 50% / 35px no-repeat;
	min-height: 35px;
	padding: 20px 60px 20px 85px;
	text-indent: 40px;
	font-size: 20px;
	color: #8a2be2;
	font-weight: 500;
	text-shadow: 3px 3px 6px #222;
}

.service {
	margin: 0px 0px 30px 0px;
}

.service__content {
	min-height: 557px;
	padding: 0px 0px 30px 180px;
	border: 1px solid transparent;
	background: url("../img/task_3/repair_bg.jpg") 50% / cover no-repeat;
}

.service__group {
	max-width: 583px;
	margin: 130px 0px 0px 0px;
}

.service__title-2 {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-size: 56px;
	text-align: left;
	color: #fff;
	margin: 0px 0px 48px 0px;
}

.service__button {
	display: inline-block;
	width: 211px;
	height: 48px;
	padding: 12px 0px 12px 28px;
	text-transform: uppercase;
	background: #c40b0b url("../img/task_3/button__arrow.png") 100% 50% no-repeat;
}

.service__button:hover {
	background: #e30b0b url("../img/task_3/button__arrow.png") 100% 50% no-repeat;
	transition: background 0.7s ease-in-out;
}

.service__link {
	display: inline-block;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	font-weight: 900;
	color: #fff;
	line-height: 24px;
	text-align: left;
}

.contacts {
	background: url("../img/task_4/bg_up.png") 100% 0% / 300px no-repeat,
	url("../img/task_4/bg_down.png") 100% 207px/ 300px no-repeat,
	url("../img/task_4/bg_up.png") 0% 207px / 300px no-repeat,
	url("../img/task_4/bg_down.png") 0% 0% / 300px no-repeat #f5f5f5;
	font-family: "Roboto", sans-serif;
	color: #4b4b4b;
	padding: 10px 0px 20px;
	margin: 0px 0px 30px 0px;
}

.content__title {
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 22px;
	letter-spacing: 0.15px;
	margin: 0px 0px 27px 0px;
	padding: 10px 0px 0px 0px;
}

.contacts__address {
	max-width: 330px;
	margin: 0 auto;
}

.contacts__list-item {
	margin: 0px 0px 16px 0px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.15px;
	font-style: normal;
	font-weight: 400;
}

.contacts__list-item * {
	color: #4b4b4b;
	min-height: 30px;
}

.address {
	background: url("../img/task_4/icons/01_place_ico-bg.png") 0 0 / 16px no-repeat;
	padding: 0px 0px 0px 32px;
}

.phone {
	background: url("../img/task_4/icons/02_smartphone_ico_bg.png") 0 0 / 16px no-repeat;
	padding: 0px 0px 0px 32px;
}

.email {
	background: url("../img/task_4/icons/03_email_ico_bg.png") 0 0 / 16px no-repeat;
	padding: 0px 0px 0px 32px;
}

.time {
	background: url("../img/task_4/icons/04_timer_ico_bg.png") 0 0 / 16px no-repeat;
	padding: 0px 0px 0px 32px;
}

.impact {
	font-family: "Roboto", sans-serif;
}

.impact__container {
	background-color: #fff;
	padding: 50px 0;
	margin: 0 auto 30px;
}

.impact__img-wrapper {
	max-width: 1050px;
	margin: 0 auto;
}

.impact__img {
	margin: 0px 0px -222px 522px;
}

.impact__content-wrapper {
	width: 100%;
	height: 610px;
	background: url("../img/task_5/blue_bg.png") 50% / cover no-repeat;
	padding: 90px 0px 0px 0px;
}

.impact__content {
	max-width: 1050px;
	margin: 0 auto;
}

.impact__box {
	background: url("../img/icons/small_logo.png") no-repeat;
	height: 20px;
	margin: 0px 0px 40px 0px;
}

.impact__subtitle {
	padding: 7px 0px 0px 37px;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	min-height: 20px;
}

.impact__title-2 {
	text-align: left;
	color: #fff;
	max-width: 412px;
	font-size: 36px;
	font-weight: 900;
	line-height: 42px;
	margin: 0px 0px 80px 0px;
}

.impact__icons {
	max-width: 1050px;
}

.impact__icon {
	display: inline-block;
  width: 230px;
  margin: 0px 24px 0px 0px;
  vertical-align: top;
}

.oil {
	background: url("../img/task_5/icons/oil.png") no-repeat;
	min-height: 100px;
}

.transmission {
	background: url("../img/task_5/icons/transmission.png") no-repeat;
	min-height: 100px;
}

.alignment {
	background: url("../img/task_5/icons/alignment.png") no-repeat;
	min-height: 100px;
}

.engine {
	background: url("../img/task_5/icons/engine.png") no-repeat;
	min-height: 100px;
}

.impact__icon-text {
	font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  margin: 0px 0px 5px 0px;
  color: #c40b0b;
  padding: 0px 0px 0px 86px;
}

.impact__icon-title {
	font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  color: #f5f5f5;
  letter-spacing: 0.15px;
  padding: 0px 0px 0px 86px;
}

.appointment__container {
	max-width: 1020px;
  margin: -65px auto 30px;
  background-color: #fff;
	font-family: "Roboto", sans-serif;
}

.appointment__title {
	display: inline-block;
  max-width: 562px;
  padding: 43px 0px 0px 48px;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #02133c;
  vertical-align: middle;
  margin: 0px 111px 0px 0px;
}

.appointment__button {
	display: inline-block;
	max-width: 212px;
	vertical-align: top;
	padding: 12px 52px 12px 19px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
	vertical-align: text-top;
	color: #fff;
  margin: 0px 0px 53px 0px;
	background: #c40b0b url("../img/task_3/button__arrow.png") 100% 50% / 50px  
	no-repeat;
}

.appointment__button:hover {
	background: #e30b0b url("../img/task_3/button__arrow.png") 100% 50% / 50px  
	no-repeat;
	transition: background 0.7s ease-in-out;
}



